body{
	background-color:#70dbdb;
	display:flex;
	flex-direction:column;
}

.logo{
	display:flex;
	justify-content:center;	
	align-items:center;
	padding-top:100px;		
}
.words{
	color:white;
	text-align:center;
	padding:20%;
}
.all{
	display:flex;
	justify-content:space-around;	
}


